*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#board{
    /* background-color: skyblue; */
    background: url("./flappybirdbg.png");
}